<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SecurityAwarenessApp">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vulns.storage.InsecurePrefsActivity"
            android:exported="false" />
        <activity
            android:name=".vulns.storage.SecurePrefsActivity"
            android:exported="false" />
        <activity
            android:name=".vulns.auth.WeakPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".vulns.auth.StrongPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".vulns.network.InsecureHttpActivity"
            android:exported="false" />
        <activity
            android:name=".vulns.network.SecureHttpActivity"
            android:exported="false" />
    </application>
</manifest>
