- name: Configure UFW firewall
  hosts: all
  become: yes

  tasks:
    - name: Ensure UFW is installed
      ansible.builtin.package:
        name: ufw
        state: present

    - name: Enable UFW (force yes)
      ansible.builtin.shell: ufw --force enable
      when: ansible_facts['os_family'] == "Debian"

    - name: Configure default firewall policies
      community.general.ufw:
        direction: incoming
        policy: "{{ firewall_default_incoming_policy }}"
      when: ansible_facts['os_family'] == "Debian"

    - name: Configure default outgoing policy
      community.general.ufw:
        direction: outgoing
        policy: "{{ firewall_default_outgoing_policy }}"
      when: ansible_facts['os_family'] == "Debian"

    - name: Allow required TCP ports
      community.general.ufw:
        rule: allow
        port: "{{ item.port }}"
        proto: "{{ item.proto }}"
        comment: "{{ item.comment | default('Managed by Ansible') }}"
      loop: "{{ firewall_allowed_ports }}"
      when:
        - ansible_facts['os_family'] == "Debian"
        - firewall_allowed_ports | length > 0
