- name: Harden SSH settings
  hosts: all
  become: yes

  tasks:
    - name: Gather system facts
      ansible.builtin.setup:

    - name: Ensure OpenSSH server is installed
      ansible.builtin.package:
        name: openssh-server
        state: present

    - name: Backup current sshd_config
      ansible.builtin.copy:
        src: /etc/ssh/sshd_config
        dest: /etc/ssh/sshd_config.bak
        remote_src: yes
        backup: yes

    - name: Apply hardened SSH parameters
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^#?{{ item.key }}\s+.*'
        line: '{{ item.key }} {{ item.value }}'
        state: present
      loop: "{{ ssh_settings | dict2items }}"

    - name: Restart SSH service
      ansible.builtin.service:
        name: ssh
        state: restarted
